h1 {
    margin: 16;
    font-family: sans-serif;
    /* text-align: center; */
}

h3 {
    margin: 16;
    font-family: sans-serif;
    /* text-align: center; */
}

body {
    margin: 16;
    font-family: sans-serif;
    /* text-align: center; */
}

p {
    margin: 20; 
}

img {
    margin: 20; 
}